<div class="tab show">
  <h1>Регистрация</h1>
    <%= simple_form_for(@user, url: users_path, html: { class: 'form-vertical' }) do |f| %>
      <%= f.input :name, label: false, input_html: { class: 'input-sp', placeholder: 'Имя' } %>
      <%= f.input :email, label: false, input_html: { class: 'input-sp',  placeholder: 'Электронный адрес' } %>
      <%= f.input :password, label: false, input_html: { class: 'input-sp',  placeholder: 'Пароль' } %>
      <%= f.input :password_confirmation, label: false,  input_html: { class: 'input-sp',  placeholder: 'Повторите пароль' } %>
      <%= f.button :submit, class: 'btn-st btn-primary' %>
    <% end %>
</div>