<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="http://webfonts.ru/import/arimo.css" type="text/css" media="screen" />
</head>
<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><%= link_to "Главная", root_path %></li>
          <% if logged_in? %>
            <li role="presentation"><%= link_to "Мой профиль", current_user %></li>
          <% end %>
          <li role="presentation"><%= link_to "Педагоги", users_path %></li>
          <li role="presentation">
            <% if logged_in? %>
              <%= link_to "Выход", signout_path %>
            <% else %>
              <%= link_to "Войти", signin_path %>
            <% end %>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted"><%= link_to "Дневник педагога", root_path %></h3>
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <div class='wrapper'>
      <%= yield %>
  </div>
</body>
</html>